<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.api.hrd.nhamey">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- facebook login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name=".util.MySuggestionProvider"
            android:authorities="com.api.hrd.nhamey.util.MySuggestionProvider" />
        <provider
            android:name=".util.RestaurantSuggestionProvider"
            android:authorities="com.api.hrd.nhamey.util.RestaurantSuggestionProvider" />

        <!--<activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity">

        </activity>
        <activity android:name=".activities.Detail_Resturant">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.Category"
            android:theme="@style/AppThemeCategory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activities.SignupActivity" />

        <!-- enable the search dialog to send searches to SearchableActivity -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.FavoriteRestaurantActivity" />

        <activity
            android:name=".activities.FavoriteRestaurantActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeCategory">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- search result -->
        <activity android:name=".activities.SearchFavoriteResultsActivity" />
        <activity android:name=".activities.TestActivity" />
        <activity android:name=".activities.NextActivity" />
        <activity android:name=".activities.LocationSearchActivity" />

        <!-- enable the search dialog to send searches to SearchableActivity -->
        <meta-data
            android:name="android.app.restaurant_search"
            android:value=".activities.RestaurantActivity" />

        <activity
            android:name=".activities.RestaurantActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/restaurant_searchable" />
        </activity>
        <activity android:name=".activities.FavoriteRestaurantNotLoginActivity" />

    </application>

</manifest>